{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "no-alert": "off",
    "no-tabs": "error",
    "no-plusplus": "off",
    "no-restricted-globals": "off"
  }
}
